.noPadding {
    padding: 0;
}

body {
    background: #e6e6e6;
}

.container {
    background: white;
}

.single-item {
    height: 320px;
    border: 1px solid silver;
    box-shadow: 0 0 5px gray;
    margin-top: 10px;
    margin-bottom: 20px;
}

.top {
    background: maroon;
    height: 200px;
}

.bottom {
    height: 100px;
}

.item-title {
    color: maroon;
    margin-top: 0;
    margin-left: 10px;
    padding-top: 10px;
}

.cutted-price {
    font-size: 20px;
    margin-right: 10px;
}

.discounted-price {
    font-size: 20px;
    margin-right: 10px;
    color: maroon;
    font-style: italic;
}

